<div id="aboutme">
    <div class="border-2 border-slate-50 bg-slate-900">
        <h1 class="text-white text-4xl p-3">About me</h1>
    </div>
    <div class="pb-8">
        <div class="container mx-auto text-center flex flex-col gap-6">
            <h2 class="text-2xl mt-4 text-slate-700"> Hi! My name is Phon and I'm currently studying at KMITL university. </h2>
            <img class="self-center" src="./images/fatcat.avif" alt="">
            <p class="text-2xl text-slate-700 font-thin">
                I am honored to experience the learning style of 42 education.
                This week, I learned many things from my friend and senior.
                I hope i can use this knowledge for my future bussinesses
            </p>
        </div>
    </div>
</div>