<div id="contact">
    <div class="border-2 border-slate-50 bg-slate-900">
        <h1 class="text-white text-4xl p-3">Contact</h1>
    </div>
    <div class="social flex flex-row justify-center gap-2 py-4">
        <a href="https://twitter.com" target="_blank">
            <img class="w-28 h-28 rounded-full" src="https://cdn-icons-png.flaticon.com/512/124/124021.png" alt="twitter">
        </a>
        <a href="https://instragram.com" target="_blank">
            <img class="w-28 h-28 rounded-full" src="https://static-00.iconduck.com/assets.00/social-instagram-icon-2048x2048-xuel0xhc.png" alt="instragram">
        </a>
        <a href="https://facebook.com" target="_blank">
            <img  class="w-28 h-28 rounded-full"src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" alt="facebook">
        </a>
        <a href="https://gmail.com" target="_blank">
            <img  class="w-28 h-28 rounded-full" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Gmail_Icon_%282013-2020%29.svg/2560px-Gmail_Icon_%282013-2020%29.svg.png" alt="ig">
        </a>
</div>