<div id="skill" class="bg-slate-900">
  <div class="flex flex-col items-center">
    <div class="bg-slate-900">
      <h1 class="text-white text-4xl p-3">Skill</h1>
    </div>
    <!-- Progress Bar for CSS -->
    <div class="progress-bar">
      <div class="skill-name">CSS</div>
      <div class="progress" style="width: 10%;"></div>
    </div>

    <!-- Progress Bar for HTML -->
    <div class="progress-bar">
      <div class="skill-name">HTML</div>
      <div class="progress" style="width: 10%;"></div>
    </div>

    <div class="progress-bar">
      <div class="skill-name">Javascript</div>
      <div class="progress" style="width: 10%;"></div>
    </div>

    <!-- Progress Bar for HTML -->
    <div class="progress-bar">
      <div class="skill-name">C#</div>
      <div class="progress" style="width: 60%;"></div>
    </div>

    <div class="progress-bar">
      <div class="skill-name">Phython</div>
      <div class="progress" style="width: 50%;"></div>
    </div>

    <!-- Progress Bar for HTML -->
    <div class="progress-bar">
      <div class="skill-name">Carpenter</div>
      <div class="progress" style="width: 90%;"></div>
    </div>

    <div class="progress-bar">
      <div class="skill-name">Sport</div>
      <div class="progress" style="width: 80%;"></div>
    </div>
  </div>
</div>