<div id="aboutme">
    <link href="/html-project-42/vchanchi/style.css" rel="stylesheet">
    <div id="skill" class="bg-slate-900"></div>
    <div class="flex flex-col items-center"></div>
    <div class="sticky"><h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 1cm; color: aliceblue;"> About Me</div></h1>

    
    <div style="padding-bottom:10px">
        <div class="flex flex-col items-center">
    <p> Hi! My name is Phon and I'm currently studying at KMITL university. </p>
    <img src="/html-project-42/vchanchi/images/fatcat.avif" alt="">
    
    <p>
        I am honored to experience the learning style of 42 education.</p>
         <p>This week, I learned many things from my friend and senior. </p>
         <p>I hope i can use this knowledge for my future bussinesses</p>
</div> 