<div id="contact">
    <div class="sticky"><h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 1cm; color: aliceblue;"> Contact</div></h1>
    <link rel="stylesheet" href="/html-project-42/vchanchi/style.css">
    <div class="social">
    <table>
       
        <td><a href="https://tailwindcss.com/docs/container"><img src="https://cdn-icons-png.flaticon.com/512/124/124021.png" alt="twitter"></a></td>
        <td><a href="https://tailwindcss.com/docs/container"><img src="https://static-00.iconduck.com/assets.00/social-instagram-icon-2048x2048-xuel0xhc.png" alt="instragram"></a></td>
        <td><a href="https://tailwindcss.com/docs/container"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" alt="facebook"></a></td>
        <td><a href="https://tailwindcss.com/docs/container"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Gmail_Icon_%282013-2020%29.svg/2560px-Gmail_Icon_%282013-2020%29.svg.png" alt="ig"></a></td>
      
    </table>
    
</div>