
<style>
    /* Style for the progress bar container */
    .progress-bar {
      width: 300px;
      height: 50px;
      margin: 20px;
    }
    /* Style for the skill name */
    .progress-bar .skill-name {
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #000;
      background-color: #f2f2f2;
      height: 20px;
      border-radius: 10px;
      text-align: center;
      margin-bottom: 4px;
    }

    /* Style for the progress bar */
    .progress-bar .progress {
      border-radius: 10px;
      background-color: #4CAF50;
      width: 50%;
      height: 20px;
      border-radius: 10px;
      transition: width 1s ease-in-out;
    }


  </style>

<div id="skill" class="bg-slate-900">
    <div class="flex flex-col items-center">
        <h1 class="" style="font-family: Arial, Helvetica, sans-serif; font-size: 1cm; color: aliceblue;"> 
            Skill
        </h1>
        <!-- Progress Bar for CSS -->
      <div class="progress-bar">
        <div class="skill-name">CSS</div>
        <div class="progress" style="width: 10%;"></div>
      </div>
    
      <!-- Progress Bar for HTML -->
      <div class="progress-bar">
        <div class="skill-name">HTML</div>
        <div class="progress" style="width: 10%;"></div>
      </div>
      
      <div class="progress-bar">
        <div class="skill-name">Javascript</div>
        <div class="progress" style="width: 10%;"></div>
      </div>
    
      <!-- Progress Bar for HTML -->
      <div class="progress-bar">
        <div class="skill-name">C#</div>
        <div class="progress" style="width: 60%;"></div>
      </div>
      
      <div class="progress-bar">
        <div class="skill-name">Phython</div>
        <div class="progress" style="width: 50%;"></div>
      </div>
    
      <!-- Progress Bar for HTML -->
      <div class="progress-bar">
        <div class="skill-name">Carpenter</div>
        <div class="progress" style="width: 90%;"></div>
      </div>
      
      <div class="progress-bar">
        <div class="skill-name">Sport</div>
        <div class="progress" style="width: 80%;"></div>
      </div>
    </div>
</div>